 <% if !flash[:notice].blank? %>
<div class="notice">
<%= flash[:notice] %></div>
<% end %>
 <%= link_to("<< Back to index", {:action =>'index'}, :class => 'back-link') %>

 <div class="stories show">
 	<h2>Show Stories</h2>
 	<table sumarry="Story detail view">
 		<tr>
 			<th>Story ID</th>
 			<td><%= @page.story_id %></td>
 			<tr>
 			<th>Name</th>
 			<td><%= @page.name %></td>
 		</tr>
 		<tr>
 			<th>Permalink</th>
 			<td><%= @page.permalink %></td>
 		</tr>
 		<tr>
 			<th>Position</th>
 			<td><%= @page.position %></td>
 		</tr>
 		<tr>
 			<th>Visible</th>
 			<td><%= @page.visible ? 'Yes' : 'NO' %></td>
 		</tr>
 		<tr>
 			<th>Created</th>
 			<td><%= @page.created_at %></td>
 		</tr>
 		<tr>
 			<th>Upadate</th>
 			<td><%= @page.updated_at %></td>
 		</tr>
 	</table>