 <%= link_to("<< Back to index", {:action =>'index'}, :class => 'back-link') %>

<div class="stories new">
 	<h2>Create Stories</h2>
 	<%= form_for(:one, :url => {:action => 'create'}) do |f| %>
 	<table summary="Story form fill">
 	<tr>
 		<th>Name</th>
 		<td><%= f.text_field(:name) %></td>
 	  </tr>
 	  <tr>
 		<th>Position</th>
 		<td><%= f.text_field(:position) %></td>
 	  </tr>
 	  <tr>
 		<th>Visible</th>
 		<td><%= f.text_field(:visible) %></td>
 	  </tr>

 	 
 	</table>
 	<div class="form-buttons">
 		<%= submit_tag("create your story" )%>
 	</div>
 	<% end %>
 	 </div>